rules_version = '2';

function isSignedIn() {
  return request.auth != null;
}

function isAuthor() {
  return resource.data.author == request.auth.uid;
}

function isIdeaMine() {
  return isSignedIn() && isAuthor();
}

function isGuest() {
  return isSignedIn() && !isAuthor();
}

function isStatusType() {
  return request.resource.data.status is string
    && (request.resource.data.status == 'seed' || request.resource.data.status == 'sprout');
}
function isCreatedAtType() {
  return request.resource.data.createdAt is timestamp
    // * prevents creating ideas from the future
    && request.resource.data.createdAt.toMillis() <= request.time.toMillis();
}
function isChecksType() {
  return request.resource.data.checks is map
    && request.resource.data.checks.keys().hasOnly(['niche', 'expectations'])
    && request.resource.data.checks.niche is bool
    && request.resource.data.checks.expectations is bool;
}
function isSharedByType() {
  return request.resource.data.sharedBy is map
}
function isFileType(file) {
  return file is map
    && file.path is string
    && file.width is int
    && file.height is int;
}
function isImagesType() {
  return request.resource.data.images is list
    && ((request.resource.data.images.size() == 1 &&
        isFileType(request.resource.data.images[0])) ||
        (request.resource.data.images.size() == 2 &&
          isFileType(request.resource.data.images[0]) &&
          isFileType(request.resource.data.images[0])));
}
function isIdeaType() {
  return request.resource.data.keys().hasOnly([
      'author',
      'createdAt',
      'checks',
      'status',
      'sharedBy',
      'name',
      'story',
      'problemSolution',
      'images',
      'rationale',
      'averageRating',
      'ratingCount',
    ])
    && request.resource.data.author is string
    && isCreatedAtType()
    && isChecksType()
    && request.resource.data.status is string && request.resource.data.status == 'seed'
    && isSharedByType()
    && request.resource.data.name is string
    && isFileType(request.resource.data.story)
    && request.resource.data.problemSolution is string
    && isImagesType()
    && request.resource.data.rationale is string
    && request.resource.data.averageRating is number
    && request.resource.data.ratingCount is int;
}
function isPartialIdeaType() {
  return request.resource.data.keys().hasAny([
      'author',
      'createdAt',
      'checks',
      'status',
      'sharedBy',
      'name',
      'story',
      'problemSolution',
      'images',
      'rationale',
      'averageRating',
      'ratingCount',
    ])
    && (!('author' in request.resource.data)||request.resource.data.author is string)
    && (!('createdAt' in request.resource.data)||isCreatedAtType())
    && (!('checks' in request.resource.data)||isChecksType())
    && (!('status' in request.resource.data)||isStatusType())
    && (!('sharedBy' in request.resource.data)||isSharedByType())
    && (!('name' in request.resource.data)||request.resource.data.name is string)
    && (!('story' in request.resource.data)||isFileType(request.resource.data.story))
    && (!('problemSolution' in request.resource.data)||request.resource.data.problemSolution is string)
    && (!('images' in request.resource.data)||isImagesType())
    && (!('rationale' in request.resource.data)||request.resource.data.rationale is string)
    && (!('averageRating' in request.resource.data)||request.resource.data.averageRating is number)
    && (!('ratingCount' in request.resource.data)||request.resource.data.ratingCount is int);
}

function canShare() {
  return isSharedByType()
    && request.resource.data.sharedBy[request.auth.uid] == true
    && request.resource.data.sharedBy.keys().size() == 1;
}

function willBeAuthor() {
  return request.resource.data.author == request.auth.uid;
}

function canCreateIdea() {
  return request.resource.data.averageRating == 0
    && request.resource.data.ratingCount == 0
    && request.resource.data.sharedBy.size() ==0
    && willBeAuthor();
}

function notUpdatingRating() {
  return request.resource.data.diff(resource.data).unchangedKeys().hasAll(['averageRating', 'ratingCount']);
}

function notUpdatingSharedBy() {
  return request.resource.data.diff(resource.data).unchangedKeys().hasAll(['sharedBy']);
}

function onlyUpdatingRating() {
  return request.resource.data.diff(resource.data).changedKeys().hasOnly(['averageRating', 'ratingCount']);
}

function canCreateReview() {
  return onlyUpdatingRating() &&
    request.resource.data.ratingCount == resource.data.ratingCount + 1;
}

function canUpdateReview() {
  return onlyUpdatingRating() &&
    request.resource.data.ratingCount == resource.data.ratingCount;
}

function isRatingValid() {
  return request.resource.data.rating is int && request.resource.data.rating >= 1 && request.resource.data.rating <= 5;
}
function isFeedbackValid() {
  return request.resource.data.feedback is string;
}
function isReviewType() {
  return request.resource.data.keys().hasOnly(['rating', 'feedback'])
    && isRatingValid()
    && isFeedbackValid();
}

function isCountType() {
  return request.resource.data.keys().hasOnly(['count'])
    && request.resource.data.count is int;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /ideas/{ideaId} {
      allow read: if isSignedIn() && (isAuthor() || resource.data.status == 'sprout');
      allow create: if isSignedIn() && canCreateIdea() && isIdeaType();
      allow update: if isPartialIdeaType() && willBeAuthor() && (isIdeaMine() && notUpdatingRating() && notUpdatingSharedBy()) ||
        (isSignedIn() && canShare()) ||
        (isGuest() &&
          !exists(
            /databases/$(database)/documents/ideas/$(ideaId)/reviews/$(request.auth.uid)
          ) &&
          canCreateReview() &&
          request.resource.data.averageRating ==
            (resource.data.averageRating * resource.data.ratingCount +
              getAfter(
                /databases/$(database)/documents/ideas/$(ideaId)/reviews/$(request.auth.uid)
              ).data.rating) /
              (resource.data.ratingCount + 1)) ||
        (isGuest() &&
          exists(
            /databases/$(database)/documents/ideas/$(ideaId)/reviews/$(request.auth.uid)
          ) &&
          canUpdateReview() &&
          request.resource.data.averageRating ==
            (resource.data.averageRating * resource.data.ratingCount -
              get(
                /databases/$(database)/documents/ideas/$(ideaId)/reviews/$(request.auth.uid)
              ).data.rating +
              getAfter(
                /databases/$(database)/documents/ideas/$(ideaId)/reviews/$(request.auth.uid)
              ).data.rating) /
              resource.data.ratingCount);

      match /reviews/{userId} {
        allow read: if isSignedIn();
        allow write: if isSignedIn() && userId == request.auth.uid && isReviewType();
      }
    }

    match /counts/ideas {
      allow read: if isSignedIn();
      // ? is there a way to check what the other operation contained in the batch is
      allow write: if isSignedIn() && isCountType() && (request.resource.data.count - resource.data.count) == 1;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
