rules_version = '2';

function canUpdateRating() {
  return (!('averageRating' in request.writeFields) || request.writeFields.averateRating == 0) && (!('ratingCount' in request.writeFields) || request.writeFields.ratingCount == 0);
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /ideas/{ideaId} {
      allow read: if request.auth != null && (resource.data.author == request.auth.uid || resource.data.status == 'sprout');
      allow write: if request.auth != null && resource.data.author == request.auth.uid && canUpdateRating();
    }
  }
}
